.fourth-scene-container {
  height: 23vh;
  background: rgb(22, 22, 22);
  .footer-icons-container {
    a {
      svg {
        color: white;
        transition: 0.3s;
      }
      svg:hover {
        color: rgb(8, 181, 250);
      }
    }
  }
  .copyright-container {
    color: white;
    text-align: center;
    span {
      text-align: center;
      color: white;
    }
  }
  .mini-arrows {
    height: 50px;
    padding-bottom: 35px;
    .mini-arrows-container {
      transform: rotateX(180deg) scale(0.5);
      cursor: pointer;
      height: 75px;
      width: 75px;
      .arrow-top {
        fill: red;
      }
      .arrow-middle {
        fill: red;
      }
      .arrow-bottom {
        fill: red;
      }
    }
  }
}
